node_modules
.DS_Store
dist
dist-ssr
.analyze
*.local
.env
.env.local
.env.*.local
.nitro
.tanstack
.wrangler
.tmp
tmp
.output
.vinxi
__unconfig*
todos.json
coverage
*.log
*.tsbuildinfo
.idea
.cache
.cta.json
.cursorrules
.firecrawl/
references

.dev.vars*
!.dev.vars.example
!.env.example
